@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)!</h1>
</div>
<br />
<div style="text-align: justify;">
    <p>Bem-vindo ao mundo da criação de aplicativos web com ASP.NET Core!</p>
    <p>Estamos animados para tê-lo aqui enquanto você embarca na jornada de aprender sobre o desenvolvimento de aplicativos web usando ASP.NET Core.</p>

    <p>Queremos ajudá-lo a dominar essa tecnologia poderosa e empolgante, então prepare-se para mergulhar em um universo de possibilidades criativas.</p>

    <p>Para começar, sugerimos que você explore o guia oficial da Microsoft sobre como construir aplicativos web com ASP.NET Core. Este recurso abrangente oferece uma introdução sólida e orientação passo a passo para você começar a construir seus próprios aplicativos web incríveis.</p>

    <p><a href="https://learn.microsoft.com/aspnet/core">Conheça mais sobre a construção de aplicativos web com ASP.NET Core</a></p>

    <p>Prepare-se para uma jornada emocionante de aprendizado e descoberta!</p>
</div>

