@{
    ViewData["Title"] = "Políticas de Privacidade";
    ViewData["NomeDoProjeto"] = "Gestao de Laboratórios";
}
<h1>@ViewData["Title"]</h1><br />

<div style="text-align: justify;">
    <p>A sua privacidade é importante para nós. É política do @ViewData["NomeDoProjeto"] respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site, e outros sites que possuímos e operamos.</p>

    <p>Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.</p>

    <p>Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>

    <p>O uso continuado do nosso site será considerado como aceitação das nossas práticas em torno de privacidade e informações pessoais. Se tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto connosco.</p>

</div>
